<div class="login-page">
    <div class="login-box">
      <div class="card">
        <div class="card-body login-card-body">
          <div class="login-card-body-header">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSKpjdOqonC-hmbJ_F0l4FidGnLK20vyhph8eo0_YOuS4hSJi1i" />
          </div>
          <form #login_form="ngForm" (submit)="login(login_form)">
            <div class="input-group mb-3">
              <input ngModel name="username" type="email" class="form-control" placeholder="Email">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input ngModel name="password" type="password" class="form-control" placeholder="Password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" id="remember">
                  <label for="remember">
                    Remember Me
                  </label>
                </div>
              </div>
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
              </div>
            </div>
          </form>
  
          <div class="social-auth-links text-center mb-3">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-primary">
              <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
            </a>
            <a href="#" class="btn btn-block btn-danger">
              <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
            </a>
          </div>
          <p class="mb-1">
            <a href="forgot-password.html">I forgot my password</a>
          </p>
          <p class="mb-0">
            <a [routerLink]="['/register']"  class="text-center">Register a new membership</a>
          </p>
        </div>
      </div>
    </div>
  </div>