<div class="login-page">
  <div class="login-box">
    <div class="card">
      <div class="card-body login-card-body">
        <div class="login-card-body-header">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSKpjdOqonC-hmbJ_F0l4FidGnLK20vyhph8eo0_YOuS4hSJi1i" />
        </div>
        <form #register_form="ngForm" (submit)="register(register_form)">
          <div class="input-group mb-3">
            <input ngModel name="email" type="email" class="form-control" placeholder="Email" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input ngModel name="password" type="password" class="form-control" placeholder="Password" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3 confirm-password">
            <input ngModel name="confirm_password" type="password" class="form-control"
              placeholder="Confirm Password" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div *ngIf="
              register_form.value.confirm_password !== '' &&
              register_form.value.password !==
                register_form.value.confirm_password
            " class="alert_confirm_password">
            Password not match
          </div>

          <div class="form-group select-position">
            <select class=form-control ngModel name="position">
              <option disabled selected value="">Select Position</option>
              <option *ngFor="let item of position" value="{{item}}">{{item}}</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary btn-block">
            Register
          </button>
          <button  type="button" (click)="cancel()" class="btn btn-block btn-outline-secondary">
            Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
