<div class="content-wrapper" *ngIf="mDataArray != null">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fas fa-box-open"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Stock</span>
              <span class="info-box-number">{{mDataArray.length}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-warning"><i class="fas fa-exclamation-triangle"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Defect</span>
              <span class="info-box-number">0</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-maroon"><i class="fas fa-minus-circle"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Sold out</span>
              <span class="info-box-number">{{getStockProduct()}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="card">
      <div class="card-body">
        <div class="row card-body-header">
          <div class="col-5">
            <input class="form-control input-lg" placeholder="Enter search keyword"
              (keyup)="searchTextChanged.next($event.target.value)">
          </div>
          <div class="col-7">
            <a class="btn btn-success float-right btn-add" [routerLink]="['/stock/create']">เพิ่ม</a>
          </div>
        </div>
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th>NAME</th>
              <th>PRICE</th>
              <th>STOCK</th>
              <th class="text-center">ACTION</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of mDataArray">
              <td class="text-center">{{item.productId}}</td>
              <td>
                <div *ngIf="item.image != null then show; else hidden"></div>
                <ng-template #show>
                  <img src="{{item.image}}" class="product_image">
                </ng-template>

                <ng-template #hidden>
                  <img src="assets/images/no_photo.jpg" class="product_image">
                </ng-template>

                <strong class="product_name">{{item.name}}</strong>
              </td>
              <td>฿{{item.price | number :'1.2-2'}}</td>
              <td>{{item.stock}} PCS.</td>
              <td class="text-center">
                <img src="assets/images/ic_edit.png" (click)="edit(item.productId)" class="edit_product">
                <img src="assets/images/ic_delete.png" (click)="delete(item.productId)" class="delete_product">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
