<ngx-spinner class="loader" bdOpacity=0 bdColor="rgba(51,51,51,0.44)" size="medium" color="#FFF" type="ball-beat"
  [fullScreen]="true">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div *ngIf="authService.isLogin(); then stock;else login"></div>


<ng-template #login>
  <router-outlet></router-outlet>
</ng-template>
<ng-template #stock>
  <app-header></app-header>
  <app-menu></app-menu>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</ng-template>
