<style>
  .sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
  .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #ff8801;
  }

</style>

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <div class="sidebar">
    <img src="assets/images/big_banner.jpg" class="img-fluid" alt="profile">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header">MAIN NAVIGATION</li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/stock']" routerLinkActive="active">
            <i class="nav-icon fas fa-database"></i>
            <p>
              สต๊อก
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/shop']" routerLinkActive="active">
            <i class="nav-icon fas fa-shopping-basket"></i>
            <p>
              หน้าร้าน
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              กราฟ
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-money-bill"></i>
            <p>
              รายการขาย
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
